<div class="center jumbotron">
  <h1>Welcome to the Sample/LEAP App</h1>

  <h2>
    This is the home page for the
    <a href="leap.se">LEAP tutorial</a> from
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("14713331.rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
